<ion-header>
  <ion-toolbar color="success">
    <ion-title>Star War Explorer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle> {{ personDetail.gender }} </ion-card-subtitle>
    <ion-card-title> {{ personDetail.name }} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <p> Height: {{ personDetail.height }} </p>
    <p> Mass: {{ personDetail.mass }} </p>
    <p> Hair color: {{ personDetail.hair_color }} </p>
    <p> Skin color: {{ personDetail.skin_color }} </p>
    <p> Eye color: {{ personDetail.eye_color }} </p>
    <p> Birth year: {{ personDetail.birth_year }} </p>
  
  </ion-card-content>
</ion-card>



<ion-footer>
  <ion-toolbar>
    <ion-title>Made by Eric Sanchez</ion-title>
  </ion-toolbar>
</ion-footer>